body{
	background-color:#959BA3;
		background-image:url('images/bodyBackground.png');

}
#statusMessage{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
}
#gameMap{
	
	width:1000px;
	height:700px;
	background-size: 1000px 700px;
	border:0;
	background-image:url('images/gamemap.png');

}
#columns{
	position:absolute;
	margin-top:-80px;
	width:500px;
	
}
#columns div {
 display:inline;
 float:left;
 margin-left:40px;
 
}

#columns footer {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


 div#myResources{
	margin-left:48px;
	margin-top:38px;
	position:absolute;
 }
div#myResources ul{
	font-family: Helvetica;
	margin-right:0;
	text-decoration:none;
	list-style-type: none;

}
div#myResources ul li div{
	
	display:inline;
	color:#25292F;
}
div#myResources ul li{
	display: inline;
	color: #18325B;
	padding-right: 3px;

}
#resourceInfo{
	font-family: Helvetica;
	background-color:white;
    position:absolute;
    top:50px;
    right:5px;
	height:25px;
	width:300px;
	-webkit-border-radius:3px;
	padding-left:50px;
	display:none;
}

#exit_nav{
    height:30px;
    width:30px;
    position:absolute;
    top:10px;
    right:5px;
    border:1px solid;
    border-radius:15px;
    text-align:center;
    line-height:30px;
    background-color:white;
    /*SHADOW*/
    -webkit-box-shadow: 2px 2px 2px #999;
    -moz-box-shadow: 2px 2px 2px #999;
    
}

#exit_nav:hover
{
    cursor:pointer;
    height:29px;
    width:29px;
}

/* ********************** */
/* Game Map Resources */ 
.resource{
	width:100px;
	height:100px;
	background-color:pink;
	position:absolute;

}

#res1{
	margin-top:100px;
	margin-left:107px;
	background-image:url("images/metal.png");
	background-size: 100px 100px;
}
#res2{
	margin-top:100px;
	margin-left:237px;
	background-image:url("images/wood.png");
	background-size: 100px 100px;
}
#res3{
	margin-top:100px;
	margin-left:367px;
	background-image:url("images/meat.png");
	background-size: 100px 100px;
}
#res4{
	margin-top:100px;
	margin-left:497px;
	background-image:url("images/farm.png");
	background-size: 100px 100px;
}
#res5{
	margin-top:100px;
	margin-left:627px;
	background-image:url("images/fur.png");
	background-size: 100px 100px;
}
#res6{
	margin-top:100px;
	margin-left:757px;
	background-image:url("images/metal.png");
	background-size: 100px 100px;
}

#res7{
	margin-top:230px;
	margin-left:107px;
	background-image:url("images/farm.png");
	background-size: 100px 100px;
}
#res8{
	margin-top:230px;
	margin-left:237px;
	background-image:url("images/metal.png");
	background-size: 100px 100px;
}
#res9{
	margin-top:230px;
	margin-left:367px;
	background-image:url("images/stone.png");
	background-size: 100px 100px;
}
#res10{
	margin-top:230px;
	margin-left:497px;
	background-image:url("images/fur.png");
	background-size: 100px 100px;
}
#res11{
	margin-top:230px;
	margin-left:627px;
	background-image:url("images/wood.png");
	background-size: 100px 100px;
}
#res12{
	margin-top:230px;
	margin-left:757px;
	background-image:url("images/stone.png");
	background-size: 100px 100px;
}


#res13{
	margin-top:360px;
	margin-left:107px;
	background-image:url("images/fur.png");
	background-size: 100px 100px;
}
#res14{
	margin-top:360px;
	margin-left:237px;
	background-image:url("images/stone.png");
	background-size: 100px 100px;
}
#res15{
	margin-top:360px;
	margin-left:367px;
	background-image:url("images/wood.png");
	background-size: 100px 100px;
}
#res16{
	margin-top:360px;
	margin-left:497px;
	background-image:url("images/metal.png");
	background-size: 100px 100px;
}
#res17{
	margin-top:360px;
	margin-left:627px;
	background-image:url("images/meat.png");
	background-size: 100px 100px;
}
#res18{
	margin-top:360px;
	margin-left:757px;
	background-image:url("images/farm.png");
	background-size: 100px 100px;
}

#res19{
	margin-top:490px;
	margin-left:107px;
	background-image:url("images/stone.png");
	background-size: 100px 100px;
}
#res20{
	margin-top:490px;
	margin-left:237px;
	background-image:url("images/meat.png");
	background-size: 100px 100px;
}
#res21{
	margin-top:490px;
	margin-left:367px;
	background-image:url("images/fur.png");
	background-size: 100px 100px;
}
#res22{
	margin-top:490px;
	margin-left:497px;
	background-image:url("images/farm.png");
	background-size: 100px 100px;
}
#res23{
	margin-top:490px;
	margin-left:627px;
	background-image:url("images/wood.png");
	background-size: 100px 100px;
}
#res24{
	margin-top:490px;
	margin-left:757px;
	background-image:url("images/meat.png");
	background-size: 100px 100px;
}

/* Outpost */
.outpost{
	width:30px;
	height:30px;
	position:absolute;
	background-image:url("images/DropZone.png");
	background-size:30px 30px;
	display:none;
	background-repeat:no-repeat;
	z-index:10;
}
#out1{
	margin-top:200px;
	margin-left:207px;	
}
#out2{
	margin-top:200px;
	margin-left:337px;	
}
#out3{
	margin-top:200px;
	margin-left:467px;	
}
#out4{
	margin-top:200px;
	margin-left:597px;	
}
#out5{
	margin-top:200px;
	margin-left:727px;	
}
#out6{
	margin-top:330px;
	margin-left:207px;	
}
#out7{
	margin-top:330px;
	margin-left:337px;	
}
#out8{
	margin-top:330px;
	margin-left:467px;	
}
#out9{
	margin-top:330px;
	margin-left:597px;	
}
#out10{
	margin-top:330px;
	margin-left:727px;	
}

#out11{
	margin-top:460px;
	margin-left:207px;	
}
#out12{
	margin-top:460px;
	margin-left:337px;	
}
#out13{
	margin-top:460px;
	margin-left:467px;	
}
#out14{
	margin-top:460px;
	margin-left:597px;	
}
#out15{
	margin-top:460px;
	margin-left:727px;	

}

/* Road H */
.roadV{
	width:30px;
	height:100px;
	position:absolute;
	background-image:url("images/DropZone.png");
	background-size:30px 100px;
	display:none;
	z-index:9;
}
#roadV1{
	margin-top:100px;
	margin-left:207px;	
}
#roadV2{
	margin-top:100px;
	margin-left:337px;	
}
#roadV3{
	margin-top:100px;
	margin-left:467px;	
}

#roadV4{
	margin-top:100px;
	margin-left:597px;	
}
#roadV5{
	margin-top:100px;
	margin-left:727px;	
}
#roadV6{
	margin-top:230px;
	margin-left:207px;	
}
#roadV7{
	margin-top:230px;
	margin-left:337px;	
}
#roadV8{
	margin-top:230px;
	margin-left:467px;	
}

#roadV9{
	margin-top:230px;
	margin-left:597px;	
}
#roadV10{
	margin-top:230px;
	margin-left:727px;	
}
#roadV11{
	margin-top:360px;
	margin-left:207px;	
}
#roadV12{
	margin-top:360px;
	margin-left:337px;	
}
#roadV13{
	margin-top:360px;
	margin-left:467px;	
}

#roadV14{
	margin-top:360px;
	margin-left:597px;	
}
#roadV15{
	margin-top:360px;
	margin-left:727px;	
}
#roadV16{
	margin-top:490px;
	margin-left:207px;	
}
#roadV17{
	margin-top:490px;
	margin-left:337px;	
}
#roadV18{
	margin-top:490px;
	margin-left:467px;	
}

#roadV19{
	margin-top:490px;
	margin-left:597px;	
}
#roadV20{
	margin-top:490px;
	margin-left:727px;	
}

/* Horizontal Roads */
.roadH{
	width:100px;
	height:30px;
	position:absolute;
	background-image:url("images/DropZone.png");
	background-size:100px 30px;
	display:none;
	z-index:9;
}
#roadH1{
	margin-top:200px;
	margin-left:107px;	
}
#roadH2{
	margin-top:200px;
	margin-left:237px;	
}
#roadH3{
	margin-top:200px;
	margin-left:367px;	
}
#roadH4{
	margin-top:200px;
	margin-left:497px;	
}
#roadH5{
	margin-top:200px;
	margin-left:627px;	
}
#roadH6{
	margin-top:200px;
	margin-left:757px;	
}
#roadH7{
	margin-top:330px;
	margin-left:107px;	
}
#roadH8{
	margin-top:330px;
	margin-left:237px;	
}
#roadH9{
	margin-top:330px;
	margin-left:367px;	
}
#roadH10{
	margin-top:330px;
	margin-left:497px;	
}

#roadH11{
	margin-top:330px;
	margin-left:627px;	
}
#roadH12{
	margin-top:330px;
	margin-left:757px;	
}
#roadH13{
	margin-top:460px;
	margin-left:107px;	
}
#roadH14{
	margin-top:460px;
	margin-left:237px;	
}
#roadH15{
	margin-top:460px;
	margin-left:367px;	
}	
#roadH16{
	margin-top:460px;
	margin-left:497px;	
}
#roadH17{
	margin-top:460px;
	margin-left:627px;	
}
#roadH18{
	margin-top:460px;
	margin-left:757px;	

}

/* transitions */
div {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
div.moving {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* Chat */
#chat{
	position:absolute;
	margin-left:1003px;
	margin-top: 389px;

	}
#chatPane {
    background-color:#25292F;
    color:#8A611A;
    -webkit-border-radius:5px;
    opacity:.7;
    height: 238px;
    width: 390px;
    overflow: auto;
    padding: 5px;
    margin:0 0  5px 5px;
    z-index:1;
   
  
}

/*Upgrade and Buy panel */

#upgradeBuy{
	text-transform:capitalize;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	width:390px;
	height:350px;
	top:40px;
	margin-left:1012px;
	background-color:#656B73;
	background-image:url('images/tabBackground.png');
	background-repeat:no-repeat;
	background-size:390px 350px;
	
}
#UBColoring{
	
	//background-color:#25292F;
	position:absolute;
	height:30px;
	width:390px;
}
#upgradeTab, #combatTab, #tradingTab{
	border-radius:4px 4px 4px 4px ;
	
	
	display:inline;
	position:absolute;
	top:5px;
	height:47px;
	width: 37px;
	padding-left: 30px;
	padding-top:3px;
	background-size: 66px 50px;
	
}
#upgradeTab{
	top:20px;
	left: 70px;	
	background-image:url('images/upgradeLogo.png');
	background-repeat:no-repeat;
}
#combatTab{
	top:20px;
	left: 160px;
	background-image:url('images/combatLogo.png');
	background-repeat:no-repeat;	
}
#tradingTab{
	top:20px;
	right: 70px;
	background-image:url('images/marketLogo.png');
	background-repeat:no-repeat;
}

#upgradeTab:hover, #tradingTab:hover, #combatTab:hover{
	box-shadow:0 0 15px #1C0DAD; 
	cursor:pointer;
	color:white;
}
#upgradeContent{
	position:absolute;
	top:55px;
	width:390px;
	height:320px;
	//background-color:red;
	display:none;
}
#tradingContent{
	position:absolute;
	top:30px;
	width:390px;
	height:320px;
	//background-color:blue;
}
#combatContent{
	position:absolute;
	top:30px;
	width:390px;
	height:320px;
	//background-color:pink;
	display:none;
}




/*//////////////////*/
#upgradeArmy{
	position:absolute;
	margin-top:-146px;
	margin-left:10px;
	background-repeat:no-repeat;
	background-image:url(images/armyUpgrade.png);
	width:65px;
	height:55px
}
#upgradeArmy:hover{
	box-shadow:0 0 15px #1C0DAD; 
	
}
#upgradeArmy:active{
	box-shadow:0 0 15px #111111; 
	width:69px;
	height:59px;
	background-size: 69px 59px;
	margin-top:-144px;
	margin-left:8px;
}
#meatCostArmy{
	margin-left:118px;
	margin-top:40px;
}
#furCostArmy{
	margin-left:118px;
}
#farmCostArmy{
	margin-left:118px;
}
#upgradeIncrement{
	position:absolute;
	margin-top:5px;
	margin-left:10px;
	background-repeat:no-repeat;
	background-image:url(images/resourceInc.png);
	width:68px;
	height:67px
}
#upgradeIncrement:hover{
	box-shadow:0 0 15px #1C0DAD; 
}
#upgradeIncrement:active{
	box-shadow:0 0 15px #111111; 
	width:73px;
	height:67px;
	background-size: 73px 71px;
	margin-top:3px;
	margin-left:7px;
}
#resourceIncrementCost{
	margin-top:20px;
	margin-left:118px;
}
