<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="14eb9fb5-ecd3-4d3d-93bf-eb97437c31cc" Version="1.0.0.0" Publisher="CN=Swoogie" />
  <Properties>
    <DisplayName>WinWebApp1</DisplayName>
    <Description>WinWebApp1</Description>
    <PublisherDisplayName>Swoogie</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="iLand" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="The wonderful game iLand!!" ForegroundText="light" BackgroundColor="#0084FF" InitialRotationPreference="portrait">
        <DefaultTile ShowName="true" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>